@{
  Layout = "_Layout";
}

<div class="container-fluid">
  <h2 class="display-4">Home Page</h2>
  <hr>
  <h5><a href="/customers">See all customers</a></h5>
  <h5><a href="/books">See all books</a></h5>
</div>
