@{
  Layout = "_Layout";
}
<div class="container-fluid">
  <h2 class="display-4">Home Page</h2>
  <h4><em>Welcome, bibliophiles.</em></h4>
  <hr>
  <div class="row">
    <div class="col-md-6 card">
      <img class="card-img-top" src="https://media.cntraveler.com/photos/545279ce11d06c376c72728e/master/pass/powells-books-portland-oregon.jpg" alt="Bookstore">
      <div class="card-body">
        <p class="card-text"><h5><a class="btn btn-secondary" href="/customers">See all customers</a></h5></p>
      </div>
    </div>
    <div class="col-md-6 card">
      <img class="card-img-top" src="http://cdn1.livelongandtravel.com:8080/bookstore-1024x768.jpg" alt="Bookstore">
      <div class="card-body">
        <p class="card-text"><h5><a class="btn btn-secondary" href="/books">See all books</a></h5></p>
      </div>
    </div>
  </div>
</div>
