body {
  padding: 20px;
  padding-top: 50px;
}
#links {
  display: block;
  float: right;
}
.jumbotron {
  background-image: image(~/img/jumbotron.jpg);
}
#main-header {
  color: white;
  font-weight: 300;
}
footer {
  display: flex;
}
.img {
  max-width: 150px;
  max-height: 150px;
}
