@{
Layout = "_Layout";
}
<div class="container-fluid">
  <h2>Buy a book</h2>
  <form class="col-md-6" action="/books" method="post">
    <div class="form-group">
      <label for="book_image">Enter Image:</label>
      <input name="book_image" type="text" class="form-control" id="bookImage" placeholder="url.jpg">
    </div>
    <div class="form-group">
      <label for="book_author">Enter Author:</label>
      <input name="book_author" type="text" class="form-control" id="bookAuthor" placeholder="Rio Atmadja">
    </div>
    <div class="form-group">
      <label for="book_title">Enter Title:</label>
      <input name="book_title" type="text" class="form-control" id="bookTitle" placeholder="Moby Dick">
    </div>
    <div class="form-group">
      <label for="book_isbn">Enter ISBN:</label>
      <input name="book_isbn" type="text" class="form-control" id="bookIsbn" placeholder="1234567890">
    </div>
    <div class="form-group">
      <label for="book_publisher">Enter Publisher:</label>
      <input name="book_publisher" type="text" class="form-control" id="bookPublisher" placeholder="Penguin">
    </div>
    <div class="form-group">
      <label for="book_price">Enter Price:</label>
      <input name="book_price" type="text" class="form-control" id="bookPrice" placeholder="$12.99">
    </div>
    <div class="form-group">
      <label for="quantity">Enter Quantity:</label>
      <input name="quantity" type="text" class="form-control" id="bookQuant" placeholder="1">
    </div>

    <button type="submit" class="btn btn-primary">Enter</button>
  </form>
</div>
