@{
Layout = "_Layout";
}
<div class="container-fluid">
  <h2 class="display-4">@Model["selectedCustomer"].GetName()

  <h4 class="display-5">Books bought by @Model["selectedCustomer"].GetName()</h4>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col"><strong>Customer ID</strong></th>
        <th scope="col"><strong>Name</strong></th>
        <th scope="col"><strong>Address</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
      </tr>
    </tbody>
  </table>
  @if (Model["allBooks"].Count == 0)
  {
    <h5>This customer hasn't purchased any books</h5>
  }
  else
  {
    @foreach (var book in Model["customerBooks"])
    {

    <h4>@book.GetImage()</h4>
    <h4>@book.GetName()</h4>
    }
  }

</div>
