@{
Layout = "_Layout";
}
<div class="container-fluid">
  <h2 class="display-4">@Model["selectedCustomer"].GetName()

  <h4 class="display-5">Books bought by @customer.GetName()</h4>


  @if (Model["customerBooks"].Count == 0)
  {
    <h5>This customer hasn't purchased any books</h5>
  }
  else
  {
    @foreach (var book in Model["customerBooks"])
    {

    <h4>@book.GetImage()</h4>
    <h4>@book.GetName()</h4>
    }
  }

</div>
