@{
Layout = "_Layout";
}
<div class="container-fluid">
  <h2 class="display-4">Customers</h2>
  <hr>
  <div class="row">
    <div class="col-md-9">
      @if(Model.Count != 0)
      {
        <div class="float-right sticky-top col-md-2">
          <h5><a class="btn btn-secondary" href="/customers/new">Enter a new customer</a></h5>
          <hr>
          <h5><a class="btn btn-secondary" href="/books/new">Buy a new book</a></h5>
          <hr>
          <h5><a class="btn btn-secondary" href="/customers/deleteall">Delete all customers</a></h5>
          <hr>
        </div>
        <ul class="list-group">
          @foreach(var customer in Model)
          {
            <li class="list-group-item">
              <div class="table-responsive">
                <table class="table text-center">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Customer ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Address</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>@customer.GetId()</th>
                      <td>@customer.GetName()</td>
                      <td>@customer.GetAddress()</td>
                      <td class="w-50 d-inline-block">
                        <a class="btn btn-secondary" href="/customers/@customer.GetId()/update">Update</a>
                        <hr class="w-25">
                        <a class="btn btn-secondary" href="/customers/delete">Delete</a>
                        <hr class="w-25">
                        <a class="btn btn-secondary" href="/customers/@customer.GetId()">Details</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          }
        </ul>
      } else
      {
        <h5>No customers have been entered.</h5>
        <h5><a class="btn btn-secondary" href="/customers/new">Enter a new customer</a></h5>
        <h5><a class="btn btn-secondary" href="/">Return home</a></h5>
      }
    </div>
  </div>
</div>
