@{
Layout = "_Layout";
}
<h2>Customers</h2>

<div class="row">
  <div class="col-md-6">
    @if(Model.Count != 0)
    {
      <ul>
        @foreach(var customer in Model)
        {
          <li><a href="/customers/@customer.GetId()">@customer.GetName()</a></li>
        }
      </ul>
    }
  </div>
  <div class="col-md-6">
    <h5><a href="/customer/new">Enter a new customer</a></h5>
    <h5><a href="/books/new">Buy a new book</a></h5>
    <h5><a href="/">Return to the home page</a></h5>
  </div>
</div>
