<!-- nav bar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- dropdown -->
  <!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Customers
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">See All</a>
      <a class="dropdown-item" href="#">Add Customer</a>
      <hr>
      <a class="dropdown-item" href="#">Home</a>
    </div>
  </div> -->
  <!-- end dropdown -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/books" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Books
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/customers" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Customers
        </a>
      </li>
    </ul>
    <form class="form-group form-inline my-2 my-md-0" action="/search" method="post" name="search">
      <input class="form-control" type="text" placeholder="Search" name="searchdate">
      <button class="btn btn-secondary"type="submit" name="button">Search</button>
    </form>
  </div>
</nav>
<!-- main header -->
<div class="col-12 jumbotron" style="background-image: url(https://blog.oup.com/wp-content/uploads/2015/06/bookstore-indepedent.jpg); border:5px; solid black;">
  <h1 class="display-1" id="main-header">Book Store</h1>
</div>
